---
import { BlogPage } from "@/components/react/BlogPage";
import { View } from "@/components/react/motion-primitives/View";
import Layout from "@/layouts/Layout.astro";
import MinimalTypography from "@/layouts/MinimalTypography.astro";
import { getPosts, getTags } from "@/lib/sanity";
import { SEO } from "astro-seo";

const posts = await getPosts();
const tags = await getTags();
---

<Layout>
  <SEO
    slot="head"
    title="Yung Chin Pang, Sam"
    description="I'm Sam, a fullstack dev who also do freelances and make buttery-smooth and extremely perfomant websites. Passionate about UI/UX, cloud computing and AI."
    openGraph={{
      basic: {
        title: "Yung Chin Pang, Sam",
        type: "website",
        url: "https://sam.partialty.com",
        image: "https://avatars.githubusercontent.com/u/41984660",
      },
      optional: {
        locale: "en-US",
        siteName: "partialty",
        description:
          "I'm Sam, a fullstack dev who also do freelances and make buttery-smooth and extremely perfomant websites. Passionate about UI/UX, cloud computing and AI.",
      },
    }}
  />
  <div class="min-h-screen relative">
    <main class="pt-20 pb-24 px-4">
      <MinimalTypography class="gap-10">
        <div class="not-prose flex items-center justify-between">
          <h1 class="text-2xl font-bold">Blog.</h1>

          <button class="themeToggle flex items-center">
            <span class="sr-only">Toggle Theme</span>
            <span
              class="themeToggleSun opacity-70 transition-all duration-300 hover:opacity-100"
            >
              <svg
                class="stroke-secondary-foregrouund size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path
                  d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
                ></path></svg
              >
            </span>
            <span
              style="display:none;"
              class="themeToggleMoon opacity-70 transition-all duration-300 hover:opacity-100"
            >
              <svg
                class="stroke-secondary-foreground size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
                ></path></svg
              >
            </span>
          </button>
        </div>

        <BlogPage tags={tags} posts={posts} client:load />

        <View client:load transition={{ delay: 0.5 }}>
          <nav>
            <ul class="not-prose flex gap-4 items-center justify-center">
              <li
                class="opacity-65 transition-all duration-300 ease-in-out hover:opacity-100"
              >
                <a id="homePageLink" href="/">
                  <span class="sr-only">Retun to homepage</span>
                  <svg
                    class="size-5 stroke-secondary-foreground"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
                      d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                    ></path><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"
                    ></path></svg
                  >
                </a>
              </li>
            </ul>
          </nav>
        </View>
      </MinimalTypography>
    </main>
  </div>
</Layout>
<script>
  import { cookies } from "@/lib/documentCookie";
  import { prefetch } from "astro:prefetch";

  const cookieLocale = cookies.get("lang");
  const homepageUrl =
    cookieLocale && cookieLocale !== "en" ? `/${cookieLocale}` : "/";
  const homepageEl = document.getElementById(
    "homePageLink"
  ) as HTMLAnchorElement;
  if (homepageEl) {
    homepageEl.href = homepageUrl;
    prefetch(homepageUrl);
  }
</script>
