---
import Layout from "@/layouts/Layout.astro";
import MinimalTypography from "@/layouts/MinimalTypography.astro";
import { SEO } from "astro-seo";
---

<Layout>
  <SEO
    slot="head"
    title="404 Not Found"
    description="這地方和我考試時的大腦一樣，空空如也。"
    openGraph={{
      basic: {
        title: "404 Not Found",
        type: "website",
        image: "https://avatars.githubusercontent.com/u/41984660",
        url: "https://sam.partialty.com",
      },
      optional: {
        locale: "zh-TW",
        siteName: "partialty",
        description: "這地方和我考試時的大腦一樣，空空如也。",
      },
    }}
  />
  <main class="min-h-screen flex items-center justify-center px-4">
    <MinimalTypography class="gap-5 items-center">
      <h1 class="flex items-center not-prose">
        <span class="text-xl pr-4 sm:pr-8 border-r border-border leading-10"
          >404</span
        >
        <span class="pl-4 sm:pl-8 text-base">頁面不存在</span>
      </h1>
      <p class="hidden sm:block">你已踏入未知領域。請返回安全地帶。</p>
    </MinimalTypography>
  </main>
</Layout>
